body {
    font-family: 'Roboto', sans-serif;

    line-height: 22px;
    font-weight: 300;
}
a {
    text-decoration: none;
    color: black;
}
h1 {
    font-weight: 500;
}
header, footer {
    width: 85%;
    min-height: 20px;

    margin: 0 auto;
    padding: 10px 25px;

    text-align: center;

    color: #ffffff;
    background-color: #07173D;
}

                                /* H E A D E R */
header {
    display: flex;
    position: fixed;

    top: 0;
    right: 0;
    left: 0;

    margin: 0 auto;

}
header div {
    flex-grow: 1;
}
.header-logo {
    background: url("img/polytechLogoInverted.png") no-repeat center;
    background-size: contain;
}

                                /* M A I N */
main {
    width: 75%;
    min-height: 200px;

    padding: 25px 35px;
    margin: 100px auto 60px auto;

    color: black;
    background-color: #E7EDF7;

}

main form {
    width: 465px;

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-row-gap: 7px;

    align-content: center;
}
main form input {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
}
main form textarea {height: 50px;}
main form .send_mail {grid-column: 1/3;margin-top: 10px;}
main form .send_mail input {width: unset;}
main form .button {
    grid-column: 1/3;
    width: 200px;
    padding: 8px;
    margin-top: 15px;
    background: #ffffff;
    border: 1px solid darkgrey;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
}
main form .button:hover {
    cursor: pointer;
    border: 1px solid #000000;
}

main #back_button {
    display: block;
    width: 220px;
    padding: 8px;
    margin-top: 25px;
    background: #ffffff;
    border: 1px solid darkgrey;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
}
main #back_button:hover {
    cursor: pointer;
    border: 1px solid #000000;
}

main form .hidden {
    display: none;
}
                                /* F O O T E R */
footer {
    display: flex;
    position: fixed;

    right: 0;
    bottom: 0;
    left: 0;

    margin: 0 auto;

}

@media print {
    header, footer, main #back_button {display: none;}
    main {background-color: #ffffff;}
}